.banner .nav li {
  @extend .nav-item;
  padding: 0.5rem 1rem;
}

.banner .nav a {
  @extend .nav-link;
  @extend .p-0;
  color: #2A191F;
}

.navbar {
  font-size: $font-size-sm;
  background: $white;
  z-index: 2;

  @include media-breakpoint-up(md) {
    .home & .navbar-brand img {
      position: absolute;
      top: -5px;
      left: 0;
    }
  }
}


// Unchecked
// Unchecked
// Unchecked
#hidden-menu {
  .brand img {
    width: 85px !important;
    height: auto;
  }
  .btn-deco {
    padding: 0;
    font-size: 12px;
    width: 167px;
    height: 32px;
  }
}
.navbar {
  .blog &.categories .container, .category &.categories .container{
    border: 2px dashed $text-gray;
    border: 2px dotted #2A191F;
    border-radius: 10px;
  }

  &.categories {
    z-index: 1;
  }

  @include media-breakpoint-up(md) {
    .blog &.categories .container, .category &.categories .container {
      padding: 0;
      border-radius: 0;
      border: none;
    }
  }
}

.navbar-toggler {
  border: none;

  .blog .categories &, .category .categories & {

    // border: 2px dashed $text-gray;
  }
}

.current-menu-item a.nav-link {
  border-bottom: 3px dotted $brand-primary-color;
}

.navbar-brand img {
  width: 115px;
  height: auto;

  @include media-breakpoint-up(md) {
    width: 125px;
  }
}

#hidden-menu {
  top: -100px;
  z-index: 1;
  padding: 0;
  height: 50px;

  & .nav-link {
    padding: 0.1rem 1rem;
  }

  & .headline {
    font-size: 20px;
    font-family: $base-font-family;
    font-weight: bold;
  }
}

.secondary-nav {
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.shown {
  top: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  -webkit-animation: show_hidden-menu 1s 1;
  /* Safari 4.0 - 8.0 */
  animation: show_hidden-menu 1s 1;
}

.hide {
  top: -100px;
  -webkit-animation: hide_hidden-menu 1s 1;
  /* Safari 4.0 - 8.0 */
  animation: hide_hidden-menu 1s 1;
}

@keyframes hide_hidden-menu {
  from {
    padding-top: 15px;
    padding-bottom: 15px;
    top: 0;
  }
  to {
    top: -100px;
  }
}
@keyframes show_hidden-menu {
  from {
    opacity: 0;
    top: -100px;
    padding-top: 0;
    padding-bottom: 0;
  }
  50% {
    opacity: .25;
    padding-top: 2px;
    padding-bottom: 6px;
  }
  to {
    opacity: 1;
    top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}