.banner .nav li {
  @extend .nav-item;
  @include media-breakpoint-up(lg) {
    padding: 0.5rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 0.5rem 1rem;
  }
}

.banner .nav a {
  @extend .nav-link;
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
  color: #2A191F;
}

.navbar {
  z-index: 2;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-sm;
    background: $white;
  }
  @include media-breakpoint-up(xl) {
    font-size: $font-size-sm;
  }

  .home & .navbar-brand img {
    position: absolute;
    top: -25px;
    left: 0;
    @include media-breakpoint-up(md) {
      top: -5px;
    }
  }

  .navbar-collapse {
    @include media-breakpoint-down(md) {
      ul {
        margin-top: 30px;
      }
    }
    @include media-breakpoint-only(md) {
      margin-top: 0;
      text-align: center;
    }
  }
}


// Unchecked
// Unchecked
// Unchecked
#hidden-menu {
  .brand img {
    width: 85px !important;
    height: auto;
  }
  .btn-deco {
    padding: 0;
    font-size: 12px;
    width: 167px;
    height: 32px;
  }
}

.navbar {
  .blog &.categories .container, .category &.categories .container{
    border: 2px dashed $text-gray;
    border: 2px dotted #2A191F;
    border-radius: 10px;
  }

  &.categories {
    z-index: 1;
  }

  @include media-breakpoint-up(md) {
    .blog &.categories .container, .category &.categories .container {
      padding: 0;
      border-radius: 0;
      border: none;
    }
  }
}

.navbar-toggler {
  border: none;

  .blog .categories &, .category .categories & {

    // border: 2px dashed $text-gray;
  }
}

.current-menu-item a.nav-link {
  border-bottom: 3px dotted $brand-primary-color;
}

.navbar-brand img {
  height: auto;

  @include media-breakpoint-down(md) {
    width: 115px;
  }
  @include media-breakpoint-only(md) {
    width: 125px;
  }
}

#hidden-menu {
  top: -100px;
  z-index: 999;
  padding: 0;
  height: 50px;

  & .nav-link {
    padding: 0.1rem 1rem;
  }

  & .headline {
    font-size: 20px;
    font-family: $base-font-family;
    font-weight: bold;
  }
}

.secondary-nav {
  left: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.shown {
  top: 0 !important;
  -webkit-animation: show_hidden-menu 1s 1;
  animation: show_hidden-menu 1s 1;
}

.hide {
  top: -100px;
  -webkit-animation: hide_hidden-menu 1s 1;
  animation: hide_hidden-menu 1s 1;
}
@keyframes hide_hidden-menu {
  from {
      top: 0;
  }
  to {
      top: -100px;
  }
}
@keyframes show_hidden-menu {
  from {
      opacity: 0;
      top: -100px;
  }
  50% {
      opacity: .25;
  }
  to {
      opacity: 1;
      top: 0;
  }
}