.fruits-in-box {
  position: relative;
  z-index: 1;
  h2 {
    font-size: 30px;
    font-weight: 700;
  }
  p {
    font-size: 14px;
  }
  .fruit {
    title {
      font-size: 13px;
    }
  }
}

.info-section-2-col {
  img {
    @include media-breakpoint-down(xs) {
      width: 100%;
      height: auto;
    }
    @include media-breakpoint-up(sm) {
      position: absolute;
      right: 0;
      top: -($spacer * 6);
      bottom: 0;
      width: auto;
      height: 150%;
      max-width: 10000px;
    }
  }
  p {
    @include media-breakpoint-up(sm) {
      font-size: 22px;
    }
  }
}

.wpcf7 {
  & label {
    font-size: 14px;
    width: 100%;
  }

  & input,
  textarea {
    width: 100%;
  }

  & input,
  button,
  select,
  optgroup,
  textarea {
    border: 1px solid #d3d3d3;
  }

  & input[type="submit"] {
    @extend .btn-deco;
    @extend .btn-deco-red;
  }
}
