.testimonials-wrapper {

  h4 {
    font-size: 33px;

    @include media-breakpoint-down(xs) {
      max-width: 300px;
      margin: 0 auto;
    }
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }

  p {
    font-size: 13px;
  }
    
  .carousel {
    max-width: 800px;
    width: 100%;
    @extend .mx-auto;
  }
  .carousel-control-prev, .carousel-control-next {
    @include media-breakpoint-down(lg){
      width: 5%;
    }
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    height: 100%;
    @include media-breakpoint-up(lg){
      width: 52px;
    }
  }

  .container {
    font-size: 13px;
    @include media-breakpoint-up(md){
      font-size: unset;
    }

    & h2 {
      font-size: 13px;
    }
  }

}