
html,
body {
    font-family: $montserrat;
    background-color: #fff;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $montserrat-alternates;
    font-weight: 700;
}

h1 {
    font-size: 22px;

    .blog &,
    .category &,
    .single-post & {
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        font-size: 36px;
        .blog &, .category & {
            text-align: left;
        }
    }
}

.pink-bg {
    background: #FFE2E4;
}
