
html {
    font-family: $montserrat;
}

h1 {
    font-size: 22px;

    .blog &,
    .category &,
    .single-post & {
        text-align: center;
    }

    @include media-breakpoint-up(md) {
        font-size: 36px;
        .blog &, .category & {
            text-align: left;
        }
    }
}

.pink-bg {
    background: #FFE2E4;
}
