/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc
);

$success: #E6F8EE;

$link-color: #2A191F;
$link-hover-decoration: none;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1680px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1380px,
  xxxl: 1620px
);

// carousel
// $carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml,%3csvg height='49.361' viewBox='0 0 25.432 49.361' width='25.432' xmlns='http://www.w3.org/2000/svg'><path d='m-1349.514 24.656-.486.514.486-.514-.486-.486.486.486 23.314-24.656-23.311 24.656 23.311 23.311z' fill='none' opacity='.202' stroke='#2a191f' stroke-width='2' transform='translate(1350.908 .686)'/%3e%3c/svg%3e"), "#", "%23");
// $carousel-control-prev-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e"), "#", "%23") !default;
// $carousel-control-next-icon-bg:      str-replace(url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e"), "#", "%23") !default;


$carousel-indicator-active-bg:#28a745;

// $carousel-control-prev-icon-bg: url('data:image/svg+xml;utf8,<svg height="49.361" width="25.432" xmlns="http://www.w3.org/2000/svg"><path d="M1.394 25.342l-.486.514.486-.514-.486-.486.486.486L24.708.686 1.397 25.342l23.311 23.311z" fill="none" opacity=".202" stroke="#2a191f" stroke-width="2"/></svg>');
$carousel-control-prev-icon-bg: url('../images/Prev.svg');
$carousel-control-next-icon-bg: url('../images/Next.svg');

$carousel-control-icon-width: 22px;
// $carousel-control-opacity: .95;

$text-color: #2A191F;
$text-gray: #707070;


// Fonts
$base-font-size: 16px;
$base-font-family: 'Montserrat Alternates', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$montserrat-alternates: $base-font-family;
$open-sans: 'Open Sans', sans-serif;
$base-font-weight: 400;


// Branding
$brand-primary-color: #FE3E49;
$btn-deco-primary-color-red: #FE3E49;
$btn-deco-primary-color-green: #07BA4F;
$brand-secondary-color: #FFE2E4;
$brand-primary-color-green: #2da39c;
$brand-black-color: #111111;
$brand-blue-color: #0010D5;
$brand-silver-bg-color: #F0F0F0;
$brand-pink-color: #FFE2E4;
